/* Design Token CSS Variables */
/*
  Should be replaced with the corresponding import from the registry:
   - package name is "connexus-styleguide"
   - for the POC purposes these variables might be used as is
*/

:root {
  --color-connections-primary-purple-700: rgba(114, 35, 98, 1);
  --color-connections-primary-blue-700: rgba(118, 213, 212, 1);
  --color-connections-primary-blue-700-opacity-2: rgba(118, 213, 212, 0.2);
  --color-connections-primary-hot-pink-700: rgba(234, 6, 126, 1);
  --color-connections-primary-sunshine-yellow-700: rgba(255, 184, 28, 1);
  --color-connections-primary-lime-green-700: rgba(210, 219, 14, 1);
  --color-connections-backgrounds-beige-700: rgba(222, 218, 213, 1);
  --color-connections-backgrounds-beige-500: rgba(240, 237, 233, 1);
  --color-connections-backgrounds-beige-400: rgba(247, 244, 240, 1);
  --color-connections-backgrounds-beige-200: rgba(251, 249, 247, 1);
  --color-connections-backgrounds-white: rgba(255, 255, 255, 1);
  --color-connections-button-blue: rgba(123, 224, 223, 1);
  --color-connections-button-lime-green: rgba(210, 219, 14, 1);
  --color-connections-button-sunshine-yellow: rgba(255, 184, 28, 1);
  --color-connections-button-purple: rgba(114, 35, 98, 1);
  --color-connections-button-link-1: rgba(49, 135, 134, 1);
  --color-connections-button-link-2: rgba(191, 3, 102, 1);
  --color-connections-shade-purple-800: rgba(92, 26, 77, 1);
  --color-connections-shade-blue-800: rgba(58, 161, 159, 1);
  --color-connections-shade-hot-pink-800: rgba(191, 3, 102, 1);
  --color-connections-shade-sunshine-yellow-800: rgba(255, 166, 19, 1);
  --color-connections-shade-lime-green-800: rgba(180, 188, 8, 1);
  --color-connections-tint-purple-400: rgba(184, 145, 176, 1);
  --color-connections-tint-purple-100: rgba(252, 240, 249, 1);
  --color-connections-tint-blue-400: rgba(186, 234, 233, 1);
  --color-connections-tint-blue-100: rgba(228, 247, 246, 1);
  --color-connections-tint-hot-pink-400: rgba(247, 180, 215, 1);
  --color-connections-tint-hot-pink-100: rgba(253, 236, 245, 1);
  --color-connections-tint-sunshine-yellow-400: rgba(255, 234, 187, 1);
  --color-connections-tint-sunshine-yellow-100: rgba(255, 248, 231, 1);
  --color-connections-tint-lime-green-400: rgba(241, 244, 182, 1);
  --color-connections-tint-lime-green-100: rgba(249, 251, 226, 1);
  --color-connections-neutrals-gray-900: rgba(31, 10, 27, 1);
  --color-connections-neutrals-gray-700: rgba(57, 47, 61, 1);
  --color-connections-neutrals-gray-400: rgba(119, 113, 122, 1);
  --color-connections-neutrals-gray-200: rgba(191, 187, 191, 1);
  --color-connections-neutrals-white: rgba(255, 255, 255, 1);

  --color-pearson-pearson-blue: rgba(0, 127, 163, 1);
  --color-pearson-accent-bright-orange: rgba(255, 187, 28, 1);
  --color-pearson-accent-lime-green: rgba(210, 219, 14, 1);
  --color-pearson-accent-sky-blue: rgba(148, 231, 234, 1);
  --color-pearson-accent-coral-pink: rgba(255, 117, 122, 1);
  --color-pearson-accent-fresh-green: rgba(132, 189, 0, 1);
  --color-pearson-accent-marine-turquoise: rgba(18, 178, 166, 1);
  --color-pearson-accent-royal-purple: rgba(158, 0, 126, 1);
  --color-pearson-accent-grass-green: rgba(0, 134, 56, 1);
  --color-pearson-accent-midnight-blue: rgba(0, 48, 87, 1);
  --color-pearson-neutrals-ink-black: rgba(0, 0, 0, 1);
  --color-pearson-neutrals-mist-grey: rgba(223, 225, 225, 1);

  --font-connections-display-large-font-size: 44;
  --font-connections-display-large-text-decoration: none;
  --font-connections-display-large-font-family: Atten Round New;
  --font-connections-display-large-font-weight: 800;
  --font-connections-display-large-font-style: normal;
  --font-connections-display-large-font-stretch: normal;
  --font-connections-display-large-font-style-old: ExtraBold;
  --font-connections-display-large-letter-spacing: -0.5;
  --font-connections-display-large-line-height: 44px;
  --font-connections-display-large-paragraph-indent: 0;
  --font-connections-display-large-paragraph-spacing: 0;
  --font-connections-display-large-text-case: uppercase;

  --font-connections-display-font-size: 44;
  --font-connections-display-text-decoration: none;
  --font-connections-display-font-family: Atten Round New;
  --font-connections-display-font-weight: 800;
  --font-connections-display-font-style: normal;
  --font-connections-display-font-stretch: normal;
  --font-connections-display-font-style-old: ExtraBold;
  --font-connections-display-letter-spacing: -0.5;
  --font-connections-display-line-height: 44px;
  --font-connections-display-paragraph-indent: 0;
  --font-connections-display-paragraph-spacing: 0;
  --font-connections-display-text-case: uppercase;

  --font-connections-heading1-font-size: 40;
  --font-connections-heading1-text-decoration: none;
  --font-connections-heading1-font-family: Taviraj;
  --font-connections-heading1-font-weight: 400;
  --font-connections-heading1-font-style: normal;
  --font-connections-heading1-font-stretch: normal;
  --font-connections-heading1-font-style-old: Regular;
  --font-connections-heading1-letter-spacing: -0.5;
  --font-connections-heading1-line-height: 48px;
  --font-connections-heading1-paragraph-indent: 0;
  --font-connections-heading1-paragraph-spacing: 0;
  --font-connections-heading1-text-case: none;

  --font-connections-heading2-font-size: 32;
  --font-connections-heading2-text-decoration: none;
  --font-connections-heading2-font-family: Taviraj;
  --font-connections-heading2-font-weight: 400;
  --font-connections-heading2-font-style: normal;
  --font-connections-heading2-font-stretch: normal;
  --font-connections-heading2-font-style-old: Regular;
  --font-connections-heading2-letter-spacing: -0.5;
  --font-connections-heading2-line-height: 40px;
  --font-connections-heading2-paragraph-indent: 0;
  --font-connections-heading2-paragraph-spacing: 0;
  --font-connections-heading2-text-case: none;

  --font-connections-heading3-font-size: 24;
  --font-connections-heading3-text-decoration: none;
  --font-connections-heading3-font-family: Taviraj;
  --font-connections-heading3-font-weight: 400;
  --font-connections-heading3-font-style: normal;
  --font-connections-heading3-font-stretch: normal;
  --font-connections-heading3-font-style-old: Regular;
  --font-connections-heading3-letter-spacing: -0.5;
  --font-connections-heading3-line-height: 32px;
  --font-connections-heading3-paragraph-indent: 0;
  --font-connections-heading3-paragraph-spacing: 0;
  --font-connections-heading3-text-case: none;

  --font-connections-heading4-font-size: 21;
  --font-connections-heading4-text-decoration: none;
  --font-connections-heading4-font-family: Taviraj;
  --font-connections-heading4-font-weight: 400;
  --font-connections-heading4-font-style: normal;
  --font-connections-heading4-font-stretch: normal;
  --font-connections-heading4-font-style-old: Regular;
  --font-connections-heading4-letter-spacing: -0.5;
  --font-connections-heading4-line-height: 28px;
  --font-connections-heading4-paragraph-indent: 0;
  --font-connections-heading4-paragraph-spacing: 0;
  --font-connections-heading4-text-case: none;

  --font-connections-subtitle-font-size: 18;
  --font-connections-subtitle-text-decoration: none;
  --font-connections-subtitle-font-family: Open Sans;
  --font-connections-subtitle-font-weight: 600;
  --font-connections-subtitle-font-style: normal;
  --font-connections-subtitle-font-stretch: normal;
  --font-connections-subtitle-font-style-old: Semibold;
  --font-connections-subtitle-letter-spacing: 0;
  --font-connections-subtitle-line-height: 28px;
  --font-connections-subtitle-paragraph-indent: 0;
  --font-connections-subtitle-paragraph-spacing: 0;
  --font-connections-subtitle-text-case: none;

  --font-connections-pre-title-font-size: 18;
  --font-connections-pre-title-text-decoration: none;
  --font-connections-pre-title-font-family: Atten Round New;
  --font-connections-pre-title-font-weight: 800;
  --font-connections-pre-title-font-style: normal;
  --font-connections-pre-title-font-stretch: normal;
  --font-connections-pre-title-font-style-old: ExtraBold;
  --font-connections-pre-title-letter-spacing: 2;
  --font-connections-pre-title-line-height: 24px;
  --font-connections-pre-title-paragraph-indent: 0;
  --font-connections-pre-title-paragraph-spacing: 0;
  --font-connections-pre-title-text-case: uppercase;

  --font-connections-body-regular-font-size: 16;
  --font-connections-body-regular-text-decoration: none;
  --font-connections-body-regular-font-family: Open Sans;
  --font-connections-body-regular-font-weight: 400;
  --font-connections-body-regular-font-style: normal;
  --font-connections-body-regular-font-stretch: normal;
  --font-connections-body-regular-font-style-old: Regular;
  --font-connections-body-regular-letter-spacing: 0;
  --font-connections-body-regular-line-height: 28px;
  --font-connections-body-regular-paragraph-indent: 0;
  --font-connections-body-regular-paragraph-spacing: 8;
  --font-connections-body-regular-text-case: none;

  --font-connections-body-semibold-font-size: 16;
  --font-connections-body-semibold-text-decoration: none;
  --font-connections-body-semibold-font-family: Open Sans;
  --font-connections-body-semibold-font-weight: 600;
  --font-connections-body-semibold-font-style: normal;
  --font-connections-body-semibold-font-stretch: normal;
  --font-connections-body-semibold-font-style-old: Semibold;
  --font-connections-body-semibold-letter-spacing: 0;
  --font-connections-body-semibold-line-height: 28px;
  --font-connections-body-semibold-paragraph-indent: 0;
  --font-connections-body-semibold-paragraph-spacing: 8;
  --font-connections-body-semibold-text-case: none;

  --font-connections-label-large-font-size: 18;
  --font-connections-label-large-text-decoration: none;
  --font-connections-label-large-font-family: Open Sans;
  --font-connections-label-large-font-weight: 600;
  --font-connections-label-large-font-style: normal;
  --font-connections-label-large-font-stretch: normal;
  --font-connections-label-large-font-style-old: Semibold;
  --font-connections-label-large-letter-spacing: 0;
  --font-connections-label-large-line-height: 20px;
  --font-connections-label-large-paragraph-indent: 0;
  --font-connections-label-large-paragraph-spacing: 0;
  --font-connections-label-large-text-case: none;

  --font-connections-label-regular-font-size: 16;
  --font-connections-label-regular-text-decoration: none;
  --font-connections-label-regular-font-family: Open Sans;
  --font-connections-label-regular-font-weight: 400;
  --font-connections-label-regular-font-style: normal;
  --font-connections-label-regular-font-stretch: normal;
  --font-connections-label-regular-font-style-old: Regular;
  --font-connections-label-regular-letter-spacing: 0;
  --font-connections-label-regular-line-height: 20px;
  --font-connections-label-regular-paragraph-indent: 0;
  --font-connections-label-regular-paragraph-spacing: 0;
  --font-connections-label-regular-text-case: none;

  --font-connections-label-semibold-font-size: 16;
  --font-connections-label-semibold-text-decoration: none;
  --font-connections-label-semibold-font-family: Open Sans;
  --font-connections-label-semibold-font-weight: 600;
  --font-connections-label-semibold-font-style: normal;
  --font-connections-label-semibold-font-stretch: normal;
  --font-connections-label-semibold-font-style-old: Semibold;
  --font-connections-label-semibold-letter-spacing: 0;
  --font-connections-label-semibold-line-height: 20px;
  --font-connections-label-semibold-paragraph-indent: 0;
  --font-connections-label-semibold-paragraph-spacing: 0;
  --font-connections-label-semibold-text-case: none;

  --font-connections-caption-large-regular-font-size: 14;
  --font-connections-caption-large-regular-text-decoration: none;
  --font-connections-caption-large-regular-font-family: Open Sans;
  --font-connections-caption-large-regular-font-weight: 400;
  --font-connections-caption-large-regular-font-style: normal;
  --font-connections-caption-large-regular-font-stretch: normal;
  --font-connections-caption-large-regular-font-style-old: Regular;
  --font-connections-caption-large-regular-letter-spacing: 0;
  --font-connections-caption-large-regular-line-height: 20px;
  --font-connections-caption-large-regular-paragraph-indent: 0;
  --font-connections-caption-large-regular-paragraph-spacing: 0;
  --font-connections-caption-large-regular-text-case: none;

  --font-connections-caption-large-semibold-font-size: 14;
  --font-connections-caption-large-semibold-text-decoration: none;
  --font-connections-caption-large-semibold-font-family: Open Sans;
  --font-connections-caption-large-semibold-font-weight: 600;
  --font-connections-caption-large-semibold-font-style: normal;
  --font-connections-caption-large-semibold-font-stretch: normal;
  --font-connections-caption-large-semibold-font-style-old: Semibold;
  --font-connections-caption-large-semibold-letter-spacing: 0;
  --font-connections-caption-large-semibold-line-height: 20px;
  --font-connections-caption-large-semibold-paragraph-indent: 0;
  --font-connections-caption-large-semibold-paragraph-spacing: 0;
  --font-connections-caption-large-semibold-text-case: none;

  --font-connections-caption-font-size: 12;
  --font-connections-caption-text-decoration: none;
  --font-connections-caption-font-family: Open Sans;
  --font-connections-caption-font-weight: 600;
  --font-connections-caption-font-style: normal;
  --font-connections-caption-font-stretch: normal;
  --font-connections-caption-font-style-old: Semibold;
  --font-connections-caption-letter-spacing: 0;
  --font-connections-caption-line-height: 20px;
  --font-connections-caption-paragraph-indent: 0;
  --font-connections-caption-paragraph-spacing: 0;
  --font-connections-caption-text-case: none;

  --font-connections-caption-round-font-size: 12;
  --font-connections-caption-round-text-decoration: none;
  --font-connections-caption-round-font-family: Atten Round New;
  --font-connections-caption-round-font-weight: 800;
  --font-connections-caption-round-font-style: normal;
  --font-connections-caption-round-font-stretch: normal;
  --font-connections-caption-round-font-style-old: ExtraBold;
  --font-connections-caption-round-letter-spacing: 0.5;
  --font-connections-caption-round-line-height: 16px;
  --font-connections-caption-round-paragraph-indent: 0;
  --font-connections-caption-round-paragraph-spacing: 0;
  --font-connections-caption-round-text-case: uppercase;

  --font-connections-link-text-font-size: 16;
  --font-connections-link-text-text-decoration: underline;
  --font-connections-link-text-font-family: Open Sans;
  --font-connections-link-text-font-weight: 400;
  --font-connections-link-text-font-style: normal;
  --font-connections-link-text-font-stretch: normal;
  --font-connections-link-text-font-style-old: Regular;
  --font-connections-link-text-letter-spacing: 0;
  --font-connections-link-text-line-height: 28px;
  --font-connections-link-text-paragraph-indent: 0;
  --font-connections-link-text-paragraph-spacing: 8;
  --font-connections-link-text-text-case: none;

  --font-connections-menu-text-font-size: 16;
  --font-connections-menu-text-text-decoration: none;
  --font-connections-menu-text-font-family: Open Sans;
  --font-connections-menu-text-font-weight: 400;
  --font-connections-menu-text-font-style: normal;
  --font-connections-menu-text-font-stretch: normal;
  --font-connections-menu-text-font-style-old: Regular;
  --font-connections-menu-text-letter-spacing: 0;
  --font-connections-menu-text-line-height: 12px;
  --font-connections-menu-text-paragraph-indent: 0;
  --font-connections-menu-text-paragraph-spacing: 8;
  --font-connections-menu-text-text-case: none;


  --font-pearson-h1-font-size: 59;
  --font-pearson-h1-text-decoration: none;
  --font-pearson-h1-font-family: Open Sans;
  --font-pearson-h1-font-weight: 300;
  --font-pearson-h1-font-style: normal;
  --font-pearson-h1-font-stretch: normal;
  --font-pearson-h1-font-style-old: Light;
  --font-pearson-h1-letter-spacing: 0;
  --font-pearson-h1-line-height: 63px;
  --font-pearson-h1-paragraph-indent: 0;
  --font-pearson-h1-paragraph-spacing: 0;
  --font-pearson-h1-text-case: none;

  --font-pearson-h1-mobile-font-size: 48;
  --font-pearson-h1-mobile-text-decoration: none;
  --font-pearson-h1-mobile-font-family: Open Sans;
  --font-pearson-h1-mobile-font-weight: 300;
  --font-pearson-h1-mobile-font-style: normal;
  --font-pearson-h1-mobile-font-stretch: normal;
  --font-pearson-h1-mobile-font-style-old: Light;
  --font-pearson-h1-mobile-letter-spacing: 0;
  --font-pearson-h1-mobile-line-height: 58px;
  --font-pearson-h1-mobile-paragraph-indent: 0;
  --font-pearson-h1-mobile-paragraph-spacing: 0;
  --font-pearson-h1-mobile-text-case: none;

  --font-pearson-h2-font-size: 29;
  --font-pearson-h2-text-decoration: none;
  --font-pearson-h2-font-family: Open Sans;
  --font-pearson-h2-font-weight: 600;
  --font-pearson-h2-font-style: normal;
  --font-pearson-h2-font-stretch: normal;
  --font-pearson-h2-font-style-old: Semibold;
  --font-pearson-h2-letter-spacing: 0;
  --font-pearson-h2-line-height: 36px;
  --font-pearson-h2-paragraph-indent: 0;
  --font-pearson-h2-paragraph-spacing: 0;
  --font-pearson-h2-text-case: none;

  --font-pearson-h2-mobile-font-size: 24;
  --font-pearson-h2-mobile-text-decoration: none;
  --font-pearson-h2-mobile-font-family: Open Sans;
  --font-pearson-h2-mobile-font-weight: 600;
  --font-pearson-h2-mobile-font-style: normal;
  --font-pearson-h2-mobile-font-stretch: normal;
  --font-pearson-h2-mobile-font-style-old: Semibold;
  --font-pearson-h2-mobile-letter-spacing: 0;
  --font-pearson-h2-mobile-line-height: 31px;
  --font-pearson-h2-mobile-paragraph-indent: 0;
  --font-pearson-h2-mobile-paragraph-spacing: 0;
  --font-pearson-h2-mobile-text-case: none;

  --font-pearson-h3-font-size: 29;
  --font-pearson-h3-text-decoration: none;
  --font-pearson-h3-font-family: Open Sans;
  --font-pearson-h3-font-weight: 300;
  --font-pearson-h3-font-style: normal;
  --font-pearson-h3-font-stretch: normal;
  --font-pearson-h3-font-style-old: Light;
  --font-pearson-h3-letter-spacing: 0;
  --font-pearson-h3-line-height: 36px;
  --font-pearson-h3-paragraph-indent: 0;
  --font-pearson-h3-paragraph-spacing: 0;
  --font-pearson-h3-text-case: none;

  --font-pearson-h3-mobile-font-size: 24;
  --font-pearson-h3-mobile-text-decoration: none;
  --font-pearson-h3-mobile-font-family: Open Sans;
  --font-pearson-h3-mobile-font-weight: 300;
  --font-pearson-h3-mobile-font-style: normal;
  --font-pearson-h3-mobile-font-stretch: normal;
  --font-pearson-h3-mobile-font-style-old: Light;
  --font-pearson-h3-mobile-letter-spacing: 0;
  --font-pearson-h3-mobile-line-height: 31px;
  --font-pearson-h3-mobile-paragraph-indent: 0;
  --font-pearson-h3-mobile-paragraph-spacing: 0;
  --font-pearson-h3-mobile-text-case: none;

  --font-pearson-h4-font-size: 21;
  --font-pearson-h4-text-decoration: none;
  --font-pearson-h4-font-family: Open Sans;
  --font-pearson-h4-font-weight: 600;
  --font-pearson-h4-font-style: normal;
  --font-pearson-h4-font-stretch: normal;
  --font-pearson-h4-font-style-old: Semibold;
  --font-pearson-h4-letter-spacing: 0;
  --font-pearson-h4-line-height: 27px;
  --font-pearson-h4-paragraph-indent: 0;
  --font-pearson-h4-paragraph-spacing: 0;
  --font-pearson-h4-text-case: none;

  --font-pearson-h4-mobile-font-size: 18;
  --font-pearson-h4-mobile-text-decoration: none;
  --font-pearson-h4-mobile-font-family: Open Sans;
  --font-pearson-h4-mobile-font-weight: 600;
  --font-pearson-h4-mobile-font-style: normal;
  --font-pearson-h4-mobile-font-stretch: normal;
  --font-pearson-h4-mobile-font-style-old: Semibold;
  --font-pearson-h4-mobile-letter-spacing: 0;
  --font-pearson-h4-mobile-line-height: 24px;
  --font-pearson-h4-mobile-paragraph-indent: 0;
  --font-pearson-h4-mobile-paragraph-spacing: 0;
  --font-pearson-h4-mobile-text-case: none;

  --font-pearson-h5-font-size: 16;
  --font-pearson-h5-text-decoration: none;
  --font-pearson-h5-font-family: Open Sans;
  --font-pearson-h5-font-weight: 700;
  --font-pearson-h5-font-style: normal;
  --font-pearson-h5-font-stretch: normal;
  --font-pearson-h5-font-style-old: Bold;
  --font-pearson-h5-letter-spacing: 0;
  --font-pearson-h5-line-height: 21px;
  --font-pearson-h5-paragraph-indent: 0;
  --font-pearson-h5-paragraph-spacing: 0;
  --font-pearson-h5-text-case: none;

  --font-pearson-body-font-size: 16;
  --font-pearson-body-text-decoration: none;
  --font-pearson-body-font-family: Open Sans;
  --font-pearson-body-font-weight: 400;
  --font-pearson-body-font-style: normal;
  --font-pearson-body-font-stretch: normal;
  --font-pearson-body-font-style-old: Regular;
  --font-pearson-body-letter-spacing: 0;
  --font-pearson-body-line-height: 27px;
  --font-pearson-body-paragraph-indent: 0;
  --font-pearson-body-paragraph-spacing: 8;
  --font-pearson-body-text-case: none;

  --font-pearson-body-emphasis-font-size: 16;
  --font-pearson-body-emphasis-text-decoration: none;
  --font-pearson-body-emphasis-font-family: Open Sans;
  --font-pearson-body-emphasis-font-weight: 600;
  --font-pearson-body-emphasis-font-style: normal;
  --font-pearson-body-emphasis-font-stretch: normal;
  --font-pearson-body-emphasis-font-style-old: Semibold;
  --font-pearson-body-emphasis-letter-spacing: 0;
  --font-pearson-body-emphasis-line-height: 27px;
  --font-pearson-body-emphasis-paragraph-indent: 0;
  --font-pearson-body-emphasis-paragraph-spacing: 8;
  --font-pearson-body-emphasis-text-case: none;

  --font-pearson-cta-text-font-size: 16;
  --font-pearson-cta-text-text-decoration: none;
  --font-pearson-cta-text-font-family: Open Sans;
  --font-pearson-cta-text-font-weight: 700;
  --font-pearson-cta-text-font-style: normal;
  --font-pearson-cta-text-font-stretch: normal;
  --font-pearson-cta-text-font-style-old: Bold;
  --font-pearson-cta-text-letter-spacing: 0;
  --font-pearson-cta-text-line-height: 19px;
  --font-pearson-cta-text-paragraph-indent: 0;
  --font-pearson-cta-text-paragraph-spacing: 0;
  --font-pearson-cta-text-text-case: none;

  --font-pearson-cta-text-small-font-size: 14;
  --font-pearson-cta-text-small-text-decoration: none;
  --font-pearson-cta-text-small-font-family: Open Sans;
  --font-pearson-cta-text-small-font-weight: 600;
  --font-pearson-cta-text-small-font-style: normal;
  --font-pearson-cta-text-small-font-stretch: normal;
  --font-pearson-cta-text-small-font-style-old: Semibold;
  --font-pearson-cta-text-small-letter-spacing: 0;
  --font-pearson-cta-text-small-line-height: 17px;
  --font-pearson-cta-text-small-paragraph-indent: 0;
  --font-pearson-cta-text-small-paragraph-spacing: 0;
  --font-pearson-cta-text-small-text-case: none;

  --font-pearson-text-small-caps-font-size: 11.5;
  --font-pearson-text-small-caps-text-decoration: none;
  --font-pearson-text-small-caps-font-family: Open Sans;
  --font-pearson-text-small-caps-font-weight: 400;
  --font-pearson-text-small-caps-font-style: normal;
  --font-pearson-text-small-caps-font-stretch: normal;
  --font-pearson-text-small-caps-font-style-old: Regular;
  --font-pearson-text-small-caps-letter-spacing: 0;
  --font-pearson-text-small-caps-line-height: 15px;
  --font-pearson-text-small-caps-paragraph-indent: 0;
  --font-pearson-text-small-caps-paragraph-spacing: 0;
  --font-pearson-text-small-caps-text-case: uppercase;

  --font-pearson-body-small-font-size: 14;
  --font-pearson-body-small-text-decoration: none;
  --font-pearson-body-small-font-family: Open Sans;
  --font-pearson-body-small-font-weight: 400;
  --font-pearson-body-small-font-style: normal;
  --font-pearson-body-small-font-stretch: normal;
  --font-pearson-body-small-font-style-old: Regular;
  --font-pearson-body-small-letter-spacing: 0;
  --font-pearson-body-small-line-height: 24px;
  --font-pearson-body-small-paragraph-indent: 0;
  --font-pearson-body-small-paragraph-spacing: 8;
  --font-pearson-body-small-text-case: none;

  --font-pearson-h1-modal-font-size: 28;
  --font-pearson-h1-modal-text-decoration: none;
  --font-pearson-h1-modal-font-family: Open Sans;
  --font-pearson-h1-modal-font-weight: 400;
  --font-pearson-h1-modal-font-style: normal;
  --font-pearson-h1-modal-font-stretch: normal;
  --font-pearson-h1-modal-font-style-old: Regular;
  --font-pearson-h1-modal-letter-spacing: 0;
  --font-pearson-h1-modal-line-height: normal;
  --font-pearson-h1-modal-paragraph-indent: 0;
  --font-pearson-h1-modal-paragraph-spacing: 0;
  --font-pearson-h1-modal-text-case: none;

  --font-pearson-label-small-font-size: 12;
  --font-pearson-label-small-text-decoration: none;
  --font-pearson-label-small-font-family: Open Sans;
  --font-pearson-label-small-font-weight: 600;
  --font-pearson-label-small-font-style: normal;
  --font-pearson-label-small-font-stretch: normal;
  --font-pearson-label-small-font-style-old: SemiBold;
  --font-pearson-label-small-letter-spacing: 0;
  --font-pearson-label-small-line-height: normal;
  --font-pearson-label-small-paragraph-indent: 0;
  --font-pearson-label-small-paragraph-spacing: 0;
  --font-pearson-label-small-text-case: none;
}
